# Configuration files provided by ansible
/.env
/config/config.specific.php
/.my.cnf

# Player uploaded files (e.g. album photos and ship logos)
/player-upload

# Database backups
/backup/daily
/backup/archive

# All dkim keys
opendkim/*

# traefiks certificate store
traefik/acme.json
