# IntelliJ project files.
.idea

# Configuration files for PHP services (smr, discord, irc)
/config

# Environment file for docker-compose
/.env

# Player uploaded files (e.g. album photos and ship logos)
/player-upload

# Database backups
/backup/daily
/backup/archive

# All dkim keys
opendkim/*
