# IntelliJ project files.
.idea

# Configuration files for PHP services (smr, discord, irc)
/config

# MySQL config provided by ansible
/.my.cnf

# Player uploaded files (e.g. album photos and ship logos)
/player-upload

# Database backups
/backup/daily
/backup/archive

# All dkim keys
opendkim/*

# traefiks certificate store
traefik/acme.json
